@inherits LayoutComponentBase
@using TechnicalConditions.Components.Shared

<div class="main-layout">
    <NavMenu />

    <!-- Основной контент -->
    <div class="content-wrapper">
        @Body
    </div>
</div>

<style>
    .main-layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .content-wrapper {
        flex: 1;
        padding: 1rem;
    }
</style>
